<div class="bg-blue">
	<div class="hdr">
		<span>
			<i class="icon-shopping-cart"></i>
		</span>
		<span n:snippet="dataSnippet">
			Your random number is {$number}<br>
			<a n:href="generate!" class="ajax">Get another</a>
		</span>
	</div>
</div>